body {
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
}
.navstart {
  margin-left: 110px !important;
}

.logo {
  height: 36.66666793823242px;
  width: 233px;
  

}
.navtext {
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #434343;
}
.navbtn {
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border-radius: 10px;
  border-color:  #A02279!important;
  height: 48px;
  width: 170px;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;

}
.footer{
  background: #1D1D1E;

}

.footext {
  font-family: Red Rose;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #F1F3F9;


}
.footext1 {
  font-family: Red Rose;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;


}

.footercopy {
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #F7F7F7;
}

.head {
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #434343;

}
.head span{
  color: #A02279 ;
}
.cardtext {
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #434343;
}
.cardtext2 {
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  color: #434343;
}
.specs {
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 25px;
  color: #434343; 
}
.location {
  border: 1px solid #B4B4B4;
  border-radius: 8px;
  height: 48px;
  width: 161px;
  padding: 8px;


}

.hero .input-group-text {
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  justify-content: center;
  white-space: nowrap;
  background-color: #A02279;
  border: 1px solid #A02279;
  border-radius: 0.375rem;
  height: 54px;
  width: 230px;
}
.next {
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 60px;
  color: #000000;
  text-align:center

}

.headtext {
  font-family: Red Rose;
  font-size: 1.245rem;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #434343;
  flex-wrap: wrap;
  height: 102px;
  max-width: 527px;

}

.company {
 background-color: #A02279;
 height: 70px;
}

.more {
 background-color: #A02279;
 height: 774px;
}

.searchinput {
 max-width: 518.71px; 
}

.cardimg .card {
  --bs-card-border-color:#d7d7d7 !important;
  --bs-card-border-radius: 15px !important;
}

.learnbtn {
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: #FFFFFF !important;
  text-align: center;
  color:  #A02279 !important;
  height: 48px;
  width: 156px !important;
  border-color: #FFFFFF !important;


}
.discover {
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 1.60rem;
  line-height: 35px;
  color: #FFFFFF;
}
.nft {
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 700;
  font-size: 3.9rem;
  line-height: 60px;
  color: #FFFFFF;
}
.connect {
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #333333;

}
.connect2 {
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;

}
.metawall{
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
.metamask {
  background: #F8F9FA;
  border: 1px solid #CFD8DC;
  border-radius: 12px;
  padding: 12px 20px;

}
@media screen  and (max-width:1080px) {
  .navstart {
    margin-left: 65px !important;
  }
  /* .heroimg {
    height: 150px;
    width: 190px;

  } */
}
@media screen and (max-width:780px) {
  .navstart {
    margin-left: 0px !important;
  }
  .logo {
    height: 24px;
    width: 133px;

  }
  .headtext{
    font-size: 19.89px;
  }

.next {
  font-size: 34px;
}
.more {
  height: 1200px;
}
.discover {
  font-size: 2rem;
}
.specs {
  font-size: 1rem;
}
  
}
@media screen and (max-width:430px) {
  .head {
    font-size: 31px;
  }
  .headtext{
    font-size: 13.24px;
  }
  .company{
    height: 180px;
  }
  .companyimg{
    width: 151px;
    height: 50px;
  }
  .next {
    font-size: 14.5px;
  }
  .hero .input-group-text {
    width: 138px;
  }
  .specs {
    font-size: 0.9rem;
  }

  .more {
    height: 900px;
  }
  .discover {
    font-size: 1rem;
  }
  .nft {
    font-size: 2.9rem;
  }
}
@media screen and (max-width:330px) {
  .head {
    font-size: 30px;
  }
  .headtext{
    font-size: 14px;
  }
  
  
  
  
}